In [1]:
import pandas as pd

In [8]:
#read in city data 
city_data = pd.read_csv("Resources/cities.csv")
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Sørland,67.6670,12.6934,35.91,82,100,27.04,NO,1610218781
1,Vyshneve,50.3891,30.3705,33.01,93,90,11.18,UA,1610218782
2,Barrow,71.2906,-156.7887,-2.20,78,90,8.05,US,1610218541
3,Chernyshevskiy,63.0128,112.4714,-26.90,85,24,3.65,RU,1610218785
4,Puerto Ayora,-0.7393,-90.3518,84.20,58,0,17.27,EC,1610218786

In [9]:
city_data.to_html("converted_data.html")